.section--home {
  background: url(../image/hero-background.jpg);
  background-size: cover;
  padding: 10em $spacer;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
